{% extends 'base.html.twig' %}

{% block title %}Cliente index{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header" id="top">
            <h2 class="pageheader-title">Listagem de Clientes</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Usuario Ativo</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for cliente in clientes %}
                        <tr>
                            <td>{{ cliente.id }}</td>
                            <td>{{ cliente.nome }}</td>
                            <td>{{ cliente.ativo ? 'Yes' : 'No' }}</td>
                            <td>
                                <a href="{{ path('cliente_show', {'id': cliente.id}) }}">ver</a>
                                <a href="{{ path('cliente_edit', {'id': cliente.id}) }}">editar</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a class="card-link" href="{{ path('cliente_new') }}">Criar Novo</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
