{% extends 'base.html.twig' %}

{% block title %}Exemplar index{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header" id="top">
            <h2 class="pageheader-title">Listagem de Exemplars</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Livro</th>
                            <th>Edicao</th>
                            <th>Ano</th>
                            <th>Ativo</th>
                            <th>Livre</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for exemplar in exemplars %}
                        <tr>
                            <td>{{ exemplar.id }}</td>
                            <td>{{ exemplar.livro }}</td>
                            <td>{{ exemplar.edicao }}</td>
                            <td>{{ exemplar.ano }}</td>
                            <td>{{ exemplar.ativo ? 'Yes' : 'No' }}</td>
                            <td>{{ exemplar.livre ? 'Yes' : 'No' }}</td>
                            <td>
                                <a href="{{ path('exemplar_show', {'id': exemplar.id}) }}">show</a>
                                <a href="{{ path('exemplar_edit', {'id': exemplar.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a class="card-link" href="{{ path('exemplar_new') }}">Criar Novo</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
