{% extends 'base.html.twig' %}

{% block title %}Emprestimo index{% endblock %}

{% block content %}
    <h1>Emprestimo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Inicio</th>
                <th>Fim</th>
                <th>Ativo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emprestimo in emprestimos %}
            <tr>
                <td>{{ emprestimo.id }}</td>
                <td>{{ emprestimo.inicio ? emprestimo.inicio|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ emprestimo.fim ? emprestimo.fim|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ emprestimo.ativo ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('emprestimo_show', {'id': emprestimo.id}) }}">show</a>
                    <a href="{{ path('emprestimo_edit', {'id': emprestimo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('emprestimo_new') }}">Create new</a>
{% endblock %}
