{% extends 'base.html.twig' %}

{% block title %}Emprestimo{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header" id="top">
                <h2 class="pageheader-title">Emprestimo</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ emprestimo.id }}</td>
                            </tr>
                            <tr>
                                <th>Inicio</th>
                                <td>{{ emprestimo.inicio ? emprestimo.inicio|date('d/m/Y H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Fim</th>
                                <td>{{ emprestimo.fim ? emprestimo.fim|date('d/m/Y H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Ativo</th>
                                <td>{{ emprestimo.ativo ? 'Yes' : 'No' }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <a href="{{ path('emprestimo_index') }}">voltar a listagem</a>

                    <a href="{{ path('emprestimo_edit', {'id': emprestimo.id}) }}">editar</a>

                    {{ include('emprestimo/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
